<!DOCTYPE html>
<html>
<head>
  <title>Blue Deployment</title>
  <style type="text/css" media="screen">
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #0188cc;
  }
  </style>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <p class="brand">AWS OpsWorks - Sample App</p>
      </div>
    </nav>
  </header>
  <div id="main" role="main">
    <div class="container">
        <h1>Congratulations!</h1>
        <h2>
          You just deployed your first app with<br/>
          AWS OpsWorks.
        </h2>

